{% extends "base.html" %}
{% block title %}Fairygrowth{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container-fluid p-4" >
    <div class="card text-bg-dark">
        <img src="/static/screenshots/fairygrowth1.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title fs-1 fw-bolder">Fairygrowth Kingdom</h5>
        <p class="card-text lead">Leader | Crystalelise</p>
        <p class="card-text"><small>A peaceful kingdom ruled by Crystalelise. There are many forests, rivers and plants! There is even a giant balloon flying high above.</small></p>
        </div>
    </div>
</div>


<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/screenshots/fairygrowth2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/screenshots/fairygrowth3.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/screenshots/fairygrowth1.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>
{% endblock %}