{% extends "base.html" %}
{% block title %}Kingdoms{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Kingdoms</h1>
</div>

<div class="container pt-3">
    <div class="card" style="width: 24rem;">
        <img src="/static/minecraft1.jpeg" class="card-img-top" alt="Portfolio">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
        </div>
    <div class="card" style="width: 24rem;">
        <img src="/static/minecraft2.jpeg" class="card-img-top" alt="Portfolio">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
            </div>
        </div>    
        
    
</div>



{% endblock %}