{% extends "base.html" %}
{% block title %}Kingdoms{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <h1>Kingdoms</h1>
    </div>
</div>
<div class="containter m-4 pt-3">
    <div class="card-group p5">
        <div class="card">
        <a href="/fairygrowth"><img src="/static/screenshots/fairygrowth1.jpeg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h5 class="card-title">Fairygrowth Kingdom</h5>
            <p class="card-text">This is the realm of Crystalelise. She has a cool amythest tower, a nature reserve and tons of cool farms!</p>
            <p class="card-text"><small class="text-body-secondary">Friend to all things nature!</small></p>
        </div>
        </div>
        <div class="card">
        <img src="/static/screenshots/2023-01-30_23.36[37].jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        </div>
        <div class="card">
        <img src="/static/screenshots/2023-08-16_15.34.03[13].jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>
</div>

<div class="containter m-4 pt-3">
    <div class="card-group">
        <div class="card">
        <img src="/static/screenshots/2023-03-14_12.07[51].jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        </div>
        <div class="card">
        <img src="/static/screenshots/2022-10-25_23.30[45].jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        </div>
        <div class="card">
        <img src="/static/screenshots/2023-03-31_22.53[26].jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}