{% extends "base.html" %}
{% block title %}Kingdoms{% endblock %}

{% block header %}Kingdoms{% endblock %}

{% block content %}

<div class="containter m-4 pt-3">
    <div class="card-group p5">
        <div class="card rounded-5 link-opacity-50-hover">
        <a href="/kingdoms/fairygrowth"><img src="/static/screenshots/fairygrowth1.jpeg" class="card-img-top rounded-top-5" alt="..."></a>
        <div class="card-body">
            <h5 class="card-title fw-bolder">Fairygrowth Kingdom</h5>
            <p class="card-text">This is the realm of Crystalelise. She has a cool amythest tower, a nature reserve and tons of cool farms!</p>
            <p class="card-text"><small class="text-body-secondary"><strong>Crystalelise</strong> | Friend to all things nature!</small></p>
        </div>
        </div>
        <div class="card rounded-5">
        <a href="/kingdoms/spawn"><img src="/static/screenshots/spawn03.jpeg" class="card-img-top rounded-top-5" alt="..."></a>
        <div class="card-body">
            <h5 class="card-title fw-bolder">Spawn City</h5>
            <p class="card-text">The starting point of the world and the center that connects all kingdoms and regions</p>
            <p class="card-text"><small class="text-body-secondary">The Capital City</small></p>
        </div>
        </div>
        <div class="card rounded-5 opacity-50">
        <img src="/static/screenshots/under_construction.jpeg" class="card-img-top rounded-top-5" alt="...">
        <div class="card-body">
            <h5 class="card-title fw-bolder">UNDER CONSTRUCTION</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, omnis. Inventore atque quae officia ad.</p>
            <p class="card-text"><small class="text-body-secondary"><strong>Tanjuice</strong> | Placeholder</small></p>
        </div>
        </div>
    </div>
</div>

<div class="containter m-4 pt-3">
    <div class="card-group">
        <div class="card rounded-5 opacity-50">
        <img src="/static/screenshots/under_construction2.jpeg" class="card-img-top rounded-top-5" alt="...">
        <div class="card-body">
            <h5 class="card-title fw-bolder">UNDER CONSTRUCTION</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary"><strong>User</strong> | Placeholder</small></p>
        </div>
        </div>
        <div class="card rounded-5 opacity-50">
            <img src="/static/screenshots/under_construction2.jpeg" class="card-img-top rounded-top-5" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bolder">UNDER CONSTRUCTION</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary"><strong>User</strong> | Placeholder</small></p>
            </div>
            </div>
        <div class="card rounded-5 opacity-50">
        <img src="/static/screenshots/under_construction2.jpeg" class="card-img-top rounded-top-5" alt="...">
        <div class="card-body">
            <h5 class="card-title fw-bolder">UNDER CONSTRUCTION</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary"><strong>User</strong> | Placeholder</small></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}