{% extends "base.html" %}
{% block title%}Spawn City{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="container">
<!-- First Section (Photo - Left)-->
        <div class="row mb-4 align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="lc-block text-center">
                    <img class="img-fluid w-100 rounded-5" src="/static/screenshots/spawn1.jpeg" srcset="" sizes="" width="" height="">
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-lg-6 p-lg-6">
                <div class="lc-block mb-5">
                    <div editable="rich">

                        <h2 class="display-6 fw-bold">Spawn City</h2>

                        <p class="lead"><br>The Central Hub for - United States of Dreamtopia</p>
                    </div>
                </div><!-- /lc-block -->
                <!-- /lc-block -->
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/train-freight-front.svg" alt=""></i>
                        </div>
                                
                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Dreamtopia Central Station - Access the world through the nether train hub</p>
                        </div>
                    </div>
                </div>
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/house-heart.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>A common meet-up area for all members</p>
                        </div>
                    </div>
                </div>
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/shop.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Stores and Markets - Lots of items to trade and villagers to meet</p>
                        </div>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>

<!-- Second Section (Photo - Right)-->
        <div class="row mb-4 align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0 order-lg-1">
                <div class="lc-block text-center">
                    <img class="img-fluid w-100 rounded-5" src="/static/screenshots/skele_farm.jpeg" srcset="" sizes="" width="" height="">
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-lg-6 p-lg-6">
                <div class="lc-block mb-5">
                    <div editable="rich">

                        <h2 class="display-6 fw-bold">Skeleton XP Grinder</h2>

                        <p class="lead"><br>Want infinite XP without the effort?</p>
                    </div>
                </div><!-- /lc-block -->
                <!-- /lc-block -->
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/stopwatch-fill.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Fully AFK - Just throw trident, flip switch and turn the light off</p>
                        </div>
                    </div>
                </div>
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/hammer.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Mending Galore - Repair Tools/Armour and farm XP</p>
                        </div>
                    </div>
                </div>
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/diagram-2.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Free Goodies - Auto sorts arrows & bones</p>
                        </div>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>

<!-- Third Section (Photo - Left)-->
        <div class="row mb-4 align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="lc-block text-center">
                    <img class="img-fluid w-100 rounded-5" src="/static/screenshots/nether_hub2.jpeg" srcset="" sizes="" width="" height="">
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-lg-6 p-lg-6">
                <div class="lc-block mb-5">
                    <div editable="rich">

                        <h2 class="display-6 fw-bold">Nether Hub</h2>

                        <p class="lead"><br>Train station for quick transport accross a long distance</p>
                    </div>
                </div><!-- /lc-block -->
                <!-- /lc-block -->
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/cart-check.svg" alt=""></i>
                        </div>
                                
                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Access Farms - Industrial area, Ghast farm, Nether fortress</p>
                        </div>
                    </div>
                </div>
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/flag.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Other Kingdoms - Fairygrowth, Desert, Mooshroom Isle</p>
                        </div>
                    </div>
                </div>
                <div class="lc-block">
                    <div class="d-inline-flex">
                        <div>
                            <i><img src="/static/icons/currency-exchange.svg" alt=""></i>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p>Swap Gold With Pigs | ---Work in progress!---</p>
                        </div>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div> 
 
  <div class=""> </div>

{% endblock %}