{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block header %}Profile{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<p>Welcome, {{user}}</p>

<div class="card-group">
    <div class="card">
        <img
            class="card-img-top"
            src="/static/screenshots/2023-01-12_00.54[19].jpeg"
            alt="Card image cap"
        />
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card">
        <img
            class="card-img-top"
            src="/static/screenshots/2023-03-14_12.15[49].jpeg"
            alt="Card image cap"
        />
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>


{% endblock %}